__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.git/
.gitignore
README.md
*.md
.env
.venv
env/
venv/
flask_env/
